<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Libros</title>
</head>
<body>
    <h1>Libros en la Biblioteca</h1>
    <p>Nombre: <span th:text="${Name}"></span></p>
    <p>Dirección: <span th:text="${Direccion}"></span></p>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Año</th>
                <th>ISBN</th>
                <th>Páginas</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.publishedYear}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.page}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
